:root {
    --active: #22416b;
    --activeHover: #2564B7;
    --inactive: #252525;
    --inactiveHover: #353535;
    --subText: rgba(255, 255, 255, 0.65);
    --standard: #212d3f;
    --standardHover: #22416b;
}

body {
    background: #151515;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
    font-weight: normal;
}

header {
    z-index: 1;
    position: fixed;
    top: -1px;
    left: 0;
    width: 100vw;
    height: 50px;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
}

header>#logo {
    width: fit-content;
    height: 25px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 0 0 10px 0;
    padding: 10px;
    pointer-events: auto;
}

#logo>img {
    width: auto;
    height: 100%;
}

nav {
    width: fit-content;
    padding: 0 10px;
    height: 45px;
    border-radius: 0 0 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    pointer-events: auto;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

nav>a {
    width: fit-content;
    height: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--subText);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

nav>a:hover {
    color: #fff;
}

#selected {
    color: #fff;
    text-decoration: underline;
}