main {
    position: absolute;
    top: 75px;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

main>h1 {
    margin: 10px 20px 0 20px;
    font-weight: bold;
    font-size: 35px;
    animation: fadeIn 1s ease-out;
}