main {
  position: absolute;
  top: 75px;
  width: 100vw;
  height: fit-content;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

main>h1 {
  font-weight: bold;
  font-size: 35px;
  margin: 10px 20px 0 20px;
  animation: fadeIn 1s ease-out 0s forwards;
}

main>h2 {
  font-size: 20px;
  margin: 10px 20px 0 20px;
  animation: fadeIn 1s ease-out 0.5s forwards;
}

#wtd {
  margin: 20px 20px 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  width: calc(100vw - 40px);
  height: fit-content;
}

.wtd-item {
  flex: 1;
  position: relative;
  display: block;
  min-width: 170px;
  max-width: 220px;
  width: 100%;
  aspect-ratio: 1;
  padding: 15px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wtd-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  border-radius: inherit;
  z-index: 0;
  overflow: hidden;
}

.wtd-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
  opacity: 0.5;
  border-radius: inherit;
}

.wtd-item>a {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.wtd-item:hover {
  transform: scale(1.1);
}