:root {
  --active: #22416b;
  --activeHover: #2564B7;
  --subText: rgba(255, 255, 255, 0.8);
  --standard: #212d3f;
  --standardHover: #22416b;
  --dark1: #151515;
  --dark2: #252525;
  --dark3: #353535;
}

body {
  background: var(--dark1);
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  user-select: none;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 20px);
  height: 45px;
  margin: 0;
  padding: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

header>#logo {
  width: fit-content;
  height: 26px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 12px;
  pointer-events: auto;
}

#logo>img {
  position: relative;
  bottom: 0;
  left: 0;
  width: auto;
  height: 26px;
}

#nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.25s;
  user-select: none;
  outline: none;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  padding: 15px;
  width: 75px;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  pointer-events: auto;
  cursor: pointer;
}

#nav-toggle:hover {
  background: rgba(0, 0, 0, 0.5);
}

#nav-toggle>img {
  height: 100%;
}

@keyframes collapse {
  from {
    clip-path: inset(0);
    transform: translateY(0);
  }
  to {
    clip-path: inset(100% 0 0 0);
    transform: translateY(-195px);
  } 
}
  
@keyframes expand {
  from {
    clip-path: inset(100% 0 0 0);
    transform: translateY(-195px);
  }
  to {
    clip-path: inset(0);
    transform: translateY(0);
  }
}
  
.collapse {
  animation: collapse 0.5s ease-in-out forwards;
  pointer-events: none !important;
}
  
.expand {
  animation: expand 0.5s ease-in-out forwards;
  pointer-events: auto !important;
}

nav {
  position: fixed;
  top: 65px;
  left: 10px;
  width: 75px;
  height: 175px;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  pointer-events: auto;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}

nav>a {
  transition: ease-in-out 0.25s;
  width: 65px;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--subText);
  text-decoration: none;
  font-size: 15px;
}

nav>a:hover {
  color: #fff;
}

#selected {
  color: #fff;
  font-weight: bold;
}

footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  border-radius: 0 5px 0 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  font-size: 12px;
}

.warning {
  position: relative;
  display: block;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(to right, var(--standard), var(--background));
  font-size: 15px;
  text-align: center;
  padding: 10px 20px 10px 40px;
}

.warning>img {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  width: auto;
}

.warning>a {
  color: #3e8aec;
  text-decoration: none;
  font-weight: bold;
}

.warning>a:hover {
  color: #67a9ff;
}