:root {
  --active: #22416b;
  --activeHover: #2564B7;
  --inactive: #252525;
  --inactiveHover: #353535;
  --subText: rgba(255, 255, 255, 0.65);
  --standard: #212d3f;
  --standardHover: #22416b;
}

body {
  background: #151515;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
  color: #fff;
  font-weight: normal;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 75px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  pointer-events: none;
}

header>a {
  position: relative;
  display: block;
  top: 10px;
  left: 10px;
  width: fit-content;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 10px;
  pointer-events: auto;
}

header>a>img {
  width: auto;
  height: 100%;
}

#tools {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 225px;
  z-index: 1;
  gap: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

#tools>* {
  z-index: 1;
}

#srt {
  bottom: 0;
  left: 0;
  pointer-events: auto;
  width: calc(100vw - 30px);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 0 15px;
}

#search {
  text-align: center;
  width: 100%;
  height: 20px;
  border: none;
  border-radius: 10px 5px 5px 10px;
  background: var(--standard);
  display: block;
  padding: 15px 20px;
  font-size: 15px;
}

#search:focus {
  background: var(--standardHover);
  outline: none;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 75px;
  height: 50px;
  font-size: 15px;
  border-radius: 5px;
  font-size: 12px;
  background: var(--standard);
  color: var(--subText);
}

#results-count {
  text-align: center;
  user-select: none;
  font-size: 20px;
  color: #fff;
}

#filter-toggle {
  transition: ease-in-out 0.25s;
  user-select: none;
  outline: none;
  background: var(--standard);
  padding: 15px 0;
  min-width: 75px;
  height: 20px;
  border-radius: 5px 10px 10px 5px;
  cursor: pointer;
}

#filter-toggle:hover {
  background: var(--standardHover);
}

/*@keyframes flipLeft {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes flipRight {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
  
}

.flipLeft {
  animation: flipLeft 0.5s ease-in forwards;
}

.flipRight {
  animation: flipRight 0.5s ease-in forwards;
}*/

#filter-toggle>img {
  height: 20px;
  display: block;
  margin: 0 auto;
}

@keyframes clip {
  from {
    clip-path: inset(0);
    transform: translateY(0);
  }
  to {
    clip-path: inset(0 0 100% 0);
    transform: translateY(145px);
  } 
}

@keyframes undoClip {
  from {
    clip-path: inset(0 0 100% 0);
    transform: translateY(145px);
  }
  to {
    clip-path: inset(0);
    transform: translateY(0);
  }
}

.clip {
  animation: clip 0.5s ease-in-out forwards;
  pointer-events: none !important;
}

.undoClip {
  animation: undoClip 0.5s ease-in-out forwards;
  pointer-events: auto !important;
}

#filters {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 30px);
  height: 145px;
  margin: 0 15px;
}

#lang-filters,
#rty-filters {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 35px;
  align-items: center;
  padding: 15px 0;
  background: var(--standard);
  gap: 10px;
  border-radius: 15px;
}

#lang-filters span,
#rty-filters span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}

#lang-filters>button,
#rty-filters>button {
  background: var(--inactive);
  transition: ease-in-out 0.25s;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  position: relative;
  font-size: 13px;
  width: min-content;
  height: min-content;
}

#lang-filters>button:hover,
#rty-filters>button:hover {
  background: var(--inactiveHover);
}

#lang-filters>button.active,
#rty-filters>button.active {
  background: var(--active);
}

#lang-filters>button.active:hover,
#rty-filters>button.active:hover {
  background: var(--activeHover);
}

#lang-filters>button>.tick,
#rty-filters>button>.tick {
  transition: ease-in-out 0.25s;
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 20px;
  height: 20px;
  transform: scale(0);
}

#lang-filters>button.active>.tick,
#rty-filters>button.active>.tick {
  transform: scale(1);
}

#items {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100vw - 60px);
  height: fit-content;
  gap: 50px;
  margin: 0 30px 160px 30px;
}

.item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1;
  padding: 15px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  border-radius: inherit;
  z-index: 0;
  overflow: hidden;
}

.item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
  opacity: 0.5;
  border-radius: inherit;
}

.item>* {
  position: relative;
  z-index: 0;
}

.item>h1 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.mt {
  margin: 2px 0 0 0 !important;
  color: var(--subText);
}

.item>h2 {
  margin: 4px 0 0 0 !important;
  color: var(--subText);
  font-size: 16px;
  font-style: italic;
}

.more {
  transition: ease-in-out 0.25s;
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 20px;
  background: rgba(0, 0, 0, 0.25);
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  padding: 10px 8px 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(3px);
}

.more:hover {
  background: rgba(75, 75, 75, 0.5);
  backdrop-filter: blur(5px);
}

.more>img {
  margin: 2px 5px 0 5px;
  height: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

#popup {
  z-index: 2;
  overflow-y: auto;
  max-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  transition: ease-in-out 0.25s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation: fadeIn 0.3s ease-out forwards;
}

#popup>*{
  z-index: 2;
}

#popup-content {
  padding: 15px;
  position: relative;
  margin: 15px 65px 15px 15px;
  background: var(--c5);
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

#popup-details {
  padding: 10px;
  width: calc(100% - 20px);
  background: var(--c6);
  border-radius: 10px;
}

#popup-details>h1,
#popup-details>h2 {
  display: inline-block;
  font-size: 20px;
  transform: translateY(-2px);
}

#popup-details>h2 {
  color: var(--c2);
  margin-top: 10px;
}

#popup-en,
#popup-mt {
  margin-left: 5px;
  font-weight: bold;
  font-size: 30px !important;
  transform: translate(0) !important;
}

#popup-details>h3 {
  color: var(--c2);
  margin-top: 5px;
  font-size: 15px;
  display: inline-block;
  transform: translateY(-1px);
}

#popup-scn {
  font-size: 20px !important;
  font-style: italic;
  transform: translate(0) !important;
}

#popup-desc {
  margin-top: 5px;
  font-size: 15px;
  text-justify: inter-word;
}

#close-popup {
  transition: ease-in-out 0.1s;
  background: var(--c5);
  padding: 10px;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: -55px;
  cursor: pointer;
  border-radius: 10px;
}

#close-popup:hover {
  background: var(--c4);
}

#popup-image {
  display: block;
  margin: 0 auto 50px auto;
  top: 10px;
  right: 10px;
  transition: ease-in-out 5s;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
}

body.no-scroll {
  overflow: hidden;
}