:root {
  --active: rgba(53, 86, 128, 0.5);
  --activeHover: rgba(124, 157, 204, 0.5);
  --inactive: rgba(50, 50, 50, 0.5);
  --inactiveHover: rgba(75, 75, 75, 0.5);
  --subText: rgba(255, 255, 255, 0.65);
  --c5: #252525;
  --c6: #101010;
  --c7: #414e5f;
}

body {
  height: 100%;
  width: 100%;
  background: var(--c6);
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
  color: #fff;
  font-weight: normal;
}

#tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  left: 0;
  margin: 0 15px;
  width: calc(100% - 30px);
  height: fit-content;
  z-index: 1;
  padding: 15px 0 0 0;
  gap: 15px;
}

#tools>* {
  z-index: 1;
}

#srt {
  width: 100%;
  height: 100%;
  flex: 1;
  min-width: 160px;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: auto;
  gap: 15px;
}

#search {
  width: calc(100% - 40px);
  height: 1fr;
  border: none;
  border-radius: 10px;
  background: rgba(50, 50, 50, 0.25);
  backdrop-filter: blur(10px);
  display: block;
  padding: 15px 20px;
  font-size: 15px;
}

#results-count {
  user-select: none;
  display: block;
  background: rgba(50, 50, 50, 0.25);
  backdrop-filter: blur(10px);
  font-size: 15px;
  padding: 15px;
  width: calc(100% - 30px);
  height: 1fr;
  border-radius: 10px;
}

#filter-toggle {
  user-select: none;
  outline: none;
  background: rgba(50, 50, 50, 0.25);
  backdrop-filter: blur(10px);
  font-size: 15px;
  padding: 15px;
  width: calc(100% - 30px);
  height: 1fr;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#filter-toggle:hover {
  background: var;
}

@keyframes flipLeft {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes flipRight {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
  
}

.flipLeft {
  animation: flipLeft 0.5s ease-in forwards;
}

.flipRight {
  animation: flipRight 0.5s ease-in forwards;
}

#filter-toggle>img {
  height: 15px;
  display: block;
}

@keyframes clip {
  from {
    clip-path: inset(0);
  }
  to {
    clip-path: inset(0 100% 0 0);
  } 
}

@keyframes undoClip {
  from {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0);
  }
}

.clip {
  animation: clip 0.5s ease-in forwards;
}

.undoClip {
  animation: undoClip 0.5s ease-in forwards;
}

#filters {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

#lang-filters,
#rty-filters {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: calc(100% - 30px);
  height: 45px;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  background: rgba(50, 50, 50, 0.25);
  backdrop-filter: blur(10px);
  gap: 10px;
}

#lang-filters span,
#rty-filters span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#lang-filters>button,
#rty-filters>button {
  background: var(--inactive);
  transition: ease-in-out 0.25s;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  position: relative;
  font-size: 15px;
}

#lang-filters>button:hover,
#rty-filters>button:hover {
  background: var(--inactiveHover);
}

#lang-filters>button.active,
#rty-filters>button.active {
  background: var(--active);
}

#lang-filters>button.active:hover,
#rty-filters>button.active:hover {
  background: var(--activeHover);
}

#lang-filters>button>.tick,
#rty-filters>button>.tick {
  transition: ease-in-out 0.25s;
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 20px;
  height: 20px;
  transform: scale(0);
}

#lang-filters>button.active>.tick,
#rty-filters>button.active>.tick {
  transform: scale(1);
}

button:focus, #search:focus {
  outline: none;
}

#items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% - 50px);
  height: 100%;
  gap: 25px;
  margin: 25px;
}

.item {
  flex: 1 1 auto;
  user-select: none;
  cursor: default;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 20px 20px 20px;
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  height: fit-content;
  background: var(--c5);
  border-radius: 15px;
  flex: 1;
}

.details {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  border-radius: 15px;
}

.details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  border-radius: inherit;
  z-index: 0;
  overflow: hidden;
}

.details::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
  opacity: 0.5;
  border-radius: inherit;
}

.details>* {
  position: relative;
  z-index: 0;
}

.details>h1 {
  margin: 0;
  display: block;
  font-size: 25px;
  font-weight: bold;
}

.mt {
  margin-top: 2px !important;
  color: var(--subText);
}

.details>h2 {
  color: var(--subText);
  margin: 5px 0 80px 0;
  font-size: 16px;
  font-style: italic;
}

.more {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: fit-content;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  padding: 10px 8px 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(10px);
}

.more>img {
  margin: 2px 5px 0 5px;
  height: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

#popup {
  z-index: 2;
  overflow-y: auto;
  max-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  transition: ease-in-out 0.25s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation: fadeIn 0.3s ease-out forwards;
}

#popup>*{
  z-index: 2;
}

#popup-content {
  padding: 15px;
  position: relative;
  margin: 15px 65px 15px 15px;
  background: var(--c5);
  width: 100%;
  height: fit-content;
  border-radius: 15px;
}

#popup-details {
  padding: 10px;
  width: calc(100% - 20px);
  background: var(--c6);
  border-radius: 15px;
}

#popup-details>h1,
#popup-details>h2 {
  display: inline-block;
  font-size: 20px;
  transform: translateY(-2px);
}

#popup-details>h2 {
  color: var(--c2);
  margin-top: 10px;
}

#popup-en,
#popup-mt {
  margin-left: 5px;
  font-weight: bold;
  font-size: 30px !important;
  transform: translate(0) !important;
}

#popup-details>h3 {
  color: var(--c2);
  margin-top: 5px;
  font-size: 15px;
  display: inline-block;
  transform: translateY(-1px);
}

#popup-scn {
  font-size: 20px !important;
  font-style: italic;
  transform: translate(0) !important;
}

#popup-desc {
  margin-top: 5px;
  font-size: 15px;
  text-justify: inter-word;
}

#close-popup {
  transition: ease-in-out 0.1s;
  background: var(--c5);
  padding: 10px;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: -55px;
  cursor: pointer;
  border-radius: 10px;
}

#close-popup:hover {
  background: var(--c4);
}

#popup-image {
  display: block;
  margin: 0 auto 50px auto;
  top: 10px;
  right: 10px;
  transition: ease-in-out 5s;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  object-position: center;
  border-radius: 15px;
}

body.no-scroll {
  overflow: hidden;
}